<h5>*NgIf</h5>

<div *ngIf="cursos.length>0">
  Lista de cursos aqui.
  <p *ngFor="let curso of cursos">{{curso}}</p>
</div>
<div *ngIf="cursos.length==0">
  Não existe cursos para serem listados.
</div>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
  <p *ngFor="let curso of cursos">{{curso}}</p>
</div>
<div *ngIf="!mostrarCursos">
  Não existe cursos para serem listados.
</div>
<br>
<br>
<br>
<h5>*Hidden como alternativa</h5>

<div [hidden]="mostrarCursos">
  Lista de cursos aqui.
  <p *ngFor="let curso of cursos">{{curso}}</p>
</div>
<div [hidden]="!mostrarCursos">
  Não existe cursos para serem listados.
</div>

<button class="btn btn-info" (click)="onMostrarCursos()">Mostrar Cursos</button>


